<%- include('partials/header') -%>
    <section class="userInfo">
        <h3><%= user.userName %></h3>
        <section class="col-2">
            <section class="leftText">
                <ul class="col-2">
                    <li>
                        Email: <%= user.email %>
                    </li>
                    <li>
                        First Name: <%= user.firstName %>
                    </li>
                    <li>
                        Last Name: <%= user.LastName %>
                    </li>
                    <li>
                        Zip Code: <%= user.zipCode %>
                    </li>
                </ul>
                <form action="/profile/editProfile?_method=PUT"
                    method="POST">
                    <ul class="col-2">
                        <li><input type="text" name="email" value="<%= user.email %>"></li>
                        <li><input type="text" name="firstName" value="<%= user.firstName %>"></li>
                        <li><input type="text" name="lastName" value="<%= user.lastName %>"></li>
                        <li><input type="text" name="zipCode" value="<%= user.zipCode %>"></li>
                    </ul>
                    <button class="editButton" type="submit">Update</button>
                </form>
            </section>

        </section>
    </section>


        <!-- This will show data! -->
    <section>
        <ul class="center shotDisplay">
            <% for(var i=0; i < data.length; i++) {%>
                <li class="shotItem">
                <section class="container">
                    <section class="row">
                        <section class="col-9">
                            <a href="../shot/<%= data[i]._id %>" class="headerLink">
                                <h3><%= data[i].currentTime.toISOString().split('T')[0] %></h3>
                            </a>
                        </section>
                        <section class="col-1">
                            <button class="editButton hideEdit edit<%= i %>">Edit</button>
                        </section>
                        <section class="col-1">
                            <form action="/shot/deleteShotData/<%= data[i]._id %>?_method=DELETE" method="POST">
                                <button class="editButton deleteButton" type="submit">Delete</button>
                            </form>
                        </section>
                    </section>
                </section>
                <section class="row">
                    <section class="col">
                        <table class="shotTable">
                            <tr>
                                <th>Grind</th>
                                <th>Dose</th>
                                <th>Weight</th>
                                <th>Time</th>
                                <th>Roast Date</th>
                                <th>Temp</th>
                                <th>Pressure</th>
                                <th>Humidity</th>
                                <th>Tasting Notes</th>
                            </tr>
                            <tr>
                                <td><%= data[i].grind %></td>
                                <td><%= data[i].dose %></td>
                                <td><%= data[i].weight %></td>
                                <td><%= data[i].time %></td>
                                <td><%= data[i].roastDate.toISOString().split('T')[0] %></td>
                                <td><%= data[i].temp %></td>
                                <td><%= data[i].press %></td>
                                <td><%= data[i].humid %></td>
                                <td><%= data[i].tastingNotes.join(', ') %></td>
                            </tr>
                        </table>
                    </section>
                </section>
                <section class="row hidden editSection edit<%= i %>">
                    <section class="col">
                        <form action="/shot/editShotData/<%= data[i]._id %>?_method=PUT"
                            method="POST">
                            <table class="editTable">
                                <tr>
                                    <td>
                                        <input type="number" name="grind" id="grind" min="1" max="10" step=".1" value="<%= data[i].grind %>">
                                    </td>
                                    <td>
                                        <input type="number" name="dose" id="dose" min="20.0" max="26.0" step=".1" value="<%= data[i].dose %>">
                                    </td>
                                    <td>
                                        <input type="number" name="weight" id="weight" min="34" max="42" step=".1" value="<%= data[i].weight %>">
                                    </td>
                                    <td>
                                        <input type="number" name="time" id="time" min="20" max="30" step="1" value="<%= data[i].time %>">
                                    </td>
                                    <td>
                                        <input class="editRoastDate" type="text" name="roastDate" id="roastDate" value="<%= data[i].roastDate.toISOString().split('T')[0] %>">
                                    </td>
                                </tr>
                            </table>
                            <button class="editButton" type="submit">Update</button>
                        </form>
                    </section>
                </section>
                </li>
            <% } %>
            </ul>
    </section>

<%- include('partials/footer') -%>