<%- include('partials/header') -%>
		<section class="container-fluid weather">
			<section class="row">
				<section class="col display">
					<h4>Temp</h4>
					<span id="temperature"></span>
				</section>
				<section class="col display">
					<h4>Pressure</h4>
					<span id="pressure"></span>
				</section>
				<section class="col display">
					<h4>Humidity</h4>
					<span id="humidity"></span>
				</section>
			</section>
		</section>

		<section class="center dataInput">
			<h2 class="legend">Dial In</h2>

			<form action="/shot/addShotData" method="POST" id="data">
				<fieldset class="fieldColumn">
					<div class="fieldRow">
						<label for="grind">Grind:</label>
						<output class="output" id="grindOut">—</output>
						<input type="range" name="grind" id="grind" min="1" max="10" step=".1" oninput="this.previousElementSibling.value = this.value" value="<%= lastShot.grind %>">
					</div>
					<div class="fieldRow">
						<label for="dose">Dose:</label>
						<output class="output" id="doseOut">—</output>
						<input type="range" name="dose" id="dose" min="20.0" max="26.0" step=".1" oninput="this.previousElementSibling.value = this.value" value="<%= lastShot.dose %>">
					</div>
					<div class="fieldRow">
						<label for="weight">Weight:</label>
						<output class="output" id="weightOut">—</output>
						<input type="range" name="weight" id="weight" min="34" max="42" step=".1" oninput="this.previousElementSibling.value = this.value" value="<%= lastShot.weight %>">
					</div>
					<div class="fieldRow">
						<label for="time">Time:</label>
						<output class="output" id="timeOut">—</output>
						<input type="range" name="time" id="time" min="20" max="30" step="1" oninput="this.previousElementSibling.value = this.value" value="<%= lastShot.time %>">
					</div>
					<div class="fieldRow">
						<label for="roastDate">Roast Date:</label>
						<input type="date" name="roastDate" id="roastDate" value="<%= lastShot.roastDate.toISOString().split('T')[0] %>">
					</div>
					<div class="fieldRow">
						<label for="tastingNotes"> Tasting Notes:</label>
						<input type="text" name="tastingNotes" id="tastingNotes" placeholder="Enter comma separated tasting notes">
					</div>
					<input type="datetime-local" name="currentTime" id="currentTime" hidden>
					<input type="number" name="tempIn" id="tempIn" step=".01" hidden>
					<input type="number" name="pressIn" id="pressIn" step=".01" hidden>
					<input type="number" name="humidIn" id="humidIn" step=".01" hidden>
					<button type="submit" class="formButton" id="submitButton">Add</button>
				</fieldset>
			</form>
		</section>

		<img src="" alt="">

<%- include('partials/footer') -%>