<%- include('partials/header') -%>  
        <!-- This will show data! -->
        <section>
            <ul class="center shotDisplay">
                  <li class="shotItem">
                    <section class="container">
                        <section class="row">
                            <section class="col-9">
                                <a href="../shot/<%= data[i]._id %>" class="headerLink">
                                    <h3><%= data[0].currentTime.toISOString().split('T')[0] %></h3>
                                </a>
                            </section>
                            <section class="col-1">
                                <button id="hideEdit" class="editButton">Edit</button>
                            </section>
                            <section class="col-1">
                                <form action="/shot/deleteShotData/<%= data[i]._id %>?_method=DELETE" method="POST">
                                    <button class="editButton deleteButton" type="submit">Delete</button>
                                </form>
                            </section>
                        </section>
                    </section>
                    <section class="row">
                        <section class="col">
                            <table class="shotTable">
                                <tr>
                                    <th>Grind</th>
                                    <th>Dose</th>
                                    <th>Weight</th>
                                    <th>Time</th>
                                    <th>Roast Date</th>
                                </tr>
                                <tr>
                                    <td><%= data[0].grind %></td>
                                    <td><%= data[0].dose %></td>
                                    <td><%= data[0].weight %></td>
                                    <td><%= data[0].time %></td>
                                    <td><%= data[0].roastDate.toISOString().split('T')[0] %></td>
                                </tr>
                            </table>
                        </section>
                    </section>
                    <section class="row" id="editSection">
                        <section class="col">
                            <form action="/shot/editShotData/<%= data[0]._id %>?_method=PUT"
                                method="POST">
                                <table class="editTable">
                                    <tr>
                                        <td>
                                            <input type="number" name="grind" id="grind" min="1" max="10" step=".1" value="<%= data[0].grind %>">
                                        </td>
                                        <td>
                                            <input type="number" name="dose" id="dose" min="20.0" max="26.0" step=".1" value="<%= data[0].dose %>">
                                        </td>
                                        <td>
                                            <input type="number" name="weight" id="weight" min="34" max="42" step=".1" value="<%= data[0].weight %>">
                                        </td>
                                        <td>
                                            <input type="number" name="time" id="time" min="20" max="30" step="1" value="<%= data[0].time %>">
                                        </td>
                                        <td>
                                            <input class="editRoastDate" type="text" name="roastDate" id="roastDate" value="<%= data[0].roastDate.toISOString().split('T')[0] %>">
                                        </td>
                                    </tr>
                                </table>
                                <button class="editButton" type="submit">Update</button>
                            </form>
                        </section>
                    </section>
                  </li>
                </ul>
        </section>

<%- include('partials/footer') -%>